@charset "UTF-8";
/*reset.css*/
body {
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
form,
figcaption {
	margin: 0;
}
ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
strong {
	font-weight: normal;
}
em {
	font-style: normal;
}
mark {
	background: none;
}
table {
	border-collapse: collapse;
}
th,
td {
	padding: 0;
}
input {
	margin: 0;
	padding: 0;
	outline: none;
}
select {
	padding: 0;
}
textarea {
	margin: 0;
	padding: 0;
	overflow: auto;
	resize: both;
	outline: none;
}
button {
	padding: 0;
}
a {
	text-decoration: none;
}
img {
	border: none;
	vertical-align: top;
}
/*end reset.css*/
/*public.css*/
body {
	position: relative;
	min-width: 1200px;
}
.clearFix {
	zoom: 1;
}
.clearFix:after {
	content: "";
	display: block;
	clear: both;
}
/*First header.css*/
.fixed {
	position: fixed;
	left:0;
	top: 0;
	z-index: 200;
	width: 100%;
}
.absolute {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.black {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 80px;
	background: #000;
	opacity: .7;
	filter: alpha(opacity=70);
}
.Head_title {
	position: relative;
	left: 0;
	top: 0;
	height: 80px;
}
.wrap {
	margin: 0 auto;
	width: 1200px;
}
.logo {
	float: left;
}
.logo img {
	width: 200px;
	height: 80px;
}
.List {
	float: left;
	margin-left: 4px;
}
.List li {
	float: left;
	font: 18px/80px "微软雅黑";
	padding: 0 15px;
}
.List li .nav {
	color: #fff;
}
.List li:hover .nav,
#active .nav {
	color: #23b44f;
}
.growup {
	display: none;
	position: absolute;
	left: 0;
	top: 80px;
	width: 100%;
	height: 45px;
}
.mask {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 45px;
	background: #000;
	opacity: .3;
	filter: alpha(opacity=30);
}
.growup .grade {
	position: relative;
	z-index: 2;
	margin-top: -45px;
	padding-left: 266px;
	width: 934px;
	font: 12px/40px "微软雅黑";
}
.growup .grade a {
	float: left;
	padding: 0 12px;
	color: #fff;
}
.drop-menu:hover .growup {
	display: block;
}
.grade a:hover {
	padding-bottom: 2px;
	border-bottom: 3px solid #23b45b;
}
.login {
	float: right;
	font: 12px/80px "微软雅黑";
	color: #9e9e9e;
}
.login a {
	color: #428814;
}
.login a:hover {
	text-decoration: underline;
}
/*end First header.css*/
main {
	display: block;
}
/*First footer.css*/
.About {
	padding-top: 23px;
	height: 132px;
	font: 12px/28px "微软雅黑";
	color: #999999;
	background: #333333;
}
.About .wrap {
	text-align: center;
}
.About a {
	color: #999;
}
.About a:hover {
	color: #31c365;
	text-decoration: underline;
}
/*end First footer.css*/
/*main.css*/
.line {
	padding: 89px 322px 0;
	height: 48px;
}
.line_left,
.line_right {
	float: left;
	margin-top: 26px;
	width: 75px;
	height: 1px;
	background: rgb(201,219,206);
	background: rgba(201,219,206,.8);
	filter: alpha(opacity=80);
}
.line .strong {
	float: left;
	margin: 0 35px;
	font: 48px/1 "微软雅黑";
	color: #fff;
}
.pay_line {
	padding: 82px 371px 0;
}
.pay_line .strong,
.Special_line .strong {
	margin: 0 34px;
	color: #000;
}
.Special_line {
	padding: 82px 223px 0; 
}
/*end main.css*/
/*secondary header.css*/
.pay_Head_title {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 80px;
}
.pay_Head_black {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 80px;
	background: #000;
	opacity: .9;
	filter: alpha(opacity=90);
}
.pay_Head_title .wrap {
	position: relative;
	padding: 15px 100px 13px;
	width: 1000px;
}
.pay_logo {
	float: left;
}
.pay_logo a {
	display: block;
	padding-left: 51px;
	font: bold 24px/52px "微软雅黑";
	color: #fff;
	background: url(../img/index5.png) no-repeat -439px -282px;
}
.pay_nav {
	float: left;
	display: inline;
	margin-left: 45px;
	font: 16px/52px "微软雅黑";
}
.pay_nav a {
	float: left;
	display: inline;
	margin-left: 45px;
	color: #fff;
}
.pay_nav a:hover,
.pay_nav .pay_navActive {
	color: #31a652;
}
.pay_login {
	float: right;
	font: 16px/40px "微软雅黑";
}
.pay_loginL {
	float: left;
	margin: 4px 15px 0 0;
	width: 92px;
	color: #fff;
	text-align: center;
	border: 1px solid #31c27c;
	border-radius: 6px;
}
.pay_loginR {
	float: left;
	margin-top: 5px;
	width: 172px;
	color: #fff;
	text-align: center;
	background: #31c27c;
	border-radius: 6px;
	transition: .5s;
}
.pay_loginR:hover {
	background: #30af71;
}
/*end header.css*/
/*index.css*/
/*header-silder.css*/
.Head {
	padding-top: 80px;
	height: 690px;
	background: url(../img/singer.jpg) no-repeat center 0;
	background-size: 100% 100%;
}
.Green {
	height: 526px;
}
.greenDiamond {
	width: 494px;
	height: 93px;
	margin: 0 auto;
	padding-top: 259px;
}
.slogan {
	width: 216px;
	height: 23px;
	margin: 0 auto;
	padding-top: 21px;
}
.btn {
	margin: 29px auto 0;
	width: 320px;
	height: 64px;
	font: 32px/60px "微软雅黑";
	text-align: center;
	border-radius: 32px;
	background: #31c27c;
	transition: .8s;
}
.btn:hover {
	background: #2caf6f;
}
.btn a {
	color: #fff;
}
.option {
	height: 164px;
}
.opacity {
	position: absolute;
	left: 0;
	top: 606px;
	width: 100%;
	height: 164px;
	background: #000;
	opacity: .1;
	filter: alpha(opacity=10);
}
.luxury,
.annualFee,
.payBag {
	position: relative;
	z-index: 2;
	float: left;
	transition: .5s;
	opacity: .5;
	filter: alpha(opacity=50);
}
.luxury {
	padding: 33px 148px 67px 39px;
	width: 225px;
	height: 64px;
	background: url(../img/diamond.png) no-repeat 39px 33px;
}
.luxury:hover {
	background-position: 39px 34px;
	opacity: 1;
	filter: alpha(opacity=100);
}
.luxury:active,
.action {
	background: url(../img/diamondH.png) no-repeat 39px 34px;
	opacity: 1;
	filter: alpha(opacity=100);
}
.annualFee {
	padding: 33px 160px 67px 0;
	width: 275px;
	height: 64px;
	background: url(../img/fee.png) no-repeat 0 33px;
}
.annualFee:hover,
.annualFee:active {
	background-position: 0 34px;
	opacity: 1;
	filter: alpha(opacity=100);
}
.annualFee:active {
	background: url(../img/feeH.png) no-repeat 0 34px;
}
.payBag {
	padding: 33px 145px 67px 0;
	width: 208px;
	height: 64px;
	background: url(../img/pay.png) no-repeat 0 33px ;
}
.payBag:hover,
.payBag:active {
	background-position: 0 34px;
	opacity: 1;
	filter: alpha(opacity=100);
}
.payBag:active {
	background: url(../img/payH.png) no-repeat 0 34px;
}
.arrow {
	position: absolute;
	left: 50%;
	top: 744px;
	z-index: 20;
	margin-left: -15px;
	width: 30px;
	height: 16px;
	background: url(../img/arrow_down.png) no-repeat;
	opacity: .5;
	filter: alpha(opacity=50);
}
.arrow:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
/*end header silder.css*/
/*main.css*/
.Recommend {
	height: 1100px;
}
.Recommend .null {
	height: 740px;
	background: url(../img/feature.jpg) no-repeat 0 0;
}
.Recommend .null_2 {
	background: url(../img/feature_2.jpg) no-repeat;
}
.Recommend .null_3 {
	background: url(../img/feature_3.jpg) no-repeat;
}
.Recommend .null_4 {
	background: url(../img/feature_4.jpg) no-repeat;
}
.Recommend .wrap {
	height: 360px;
}
.Uncompromising {
	margin: 42px auto 0;
	width: 386px;
	height: 56px;
	background: url(../img/uncom.png) no-repeat;
}
.Un_2 {
	background: url(../img/love.png) no-repeat;
}
.Un_3 {
	width: 453px;
	height: 56px;
	background: url(../img/I-am.png) no-repeat;
}
.Un_4 {
	width: 452px;
	height: 56px;
	background: url(../img/feel.png) no-repeat;
}
.Recommend .paragraph {
	margin: 36px auto 0;
	width: 668px;
	height: 43px;
	background: url(../img/pursue.png) no-repeat;
}
.Recommend .p_2 {
	width: 684px;
	height: 43px;
	background: url(../img/poster.png) no-repeat;
}
.Recommend .p_3 {
	width: 533px;
	height: 42px;
	background: url(../img/icon.png) no-repeat;
}
.Recommend .p_4 {
	width: 540px;
	height: 43px;
	background: url(../img/world.png) no-repeat;
}
.downLoad {
	margin: 24px auto 0;
	padding-bottom: 26px;
	height: 133px;
}
.d_1 {
	width: 450px;
}
.d_2 {
	width: 600px;
}
.d_4 {
	width: 300px;
}
.downLoad li {
	float: left;
	width: 150px;	
}
.downLoad li a {
	display: block;
	margin: 0 10px;
	padding-top: 66px;
	height: 67px;
	color: #707070;
	background: url(../img/sprite.png) no-repeat;
}
.d_2 span {
	font: 14px/62px Arial,"微软雅黑";
} 
.downLoad a:hover span {
	text-decoration: underline;
}
.downLoad span {
	display: block;
	height: 67px;
	font: 14px/66px Arial,"微软雅黑";
	text-align: center;
	background: #fff;
}
.downLoad .super_1 {
	background-position: -380px 0;
}
.downLoad .super_2 {
	background-position: 32px -102px;
}
.downLoad .super_3 {
	background-position: -70px -102px;
}
.downLoad .super_4 {
	background-position: -174px -98px;
}
.downLoad .super_5 {
	background-position: -275px -102px;
}
.downLoad .super_6 {
	background-position: 31px 0;
}
.downLoad .super_7 {
	background-position: -70px 0;
}
.downLoad .super_8 {
	background-position: -177px -102px;
}
.downLoad .super_9 {
	background-position: -274px 0;
}
.downLoad .super_10 {
	background-position: -172px 0;
}
.downLoad .super_11 {
	background-position: -479px 0;
}
.downLoad .super_12 {
	background-position: -581px 0;
}
/*end main.css*/
/*aside.css*/
.asideNav {
	position: fixed;
	left: 95%;
	top: 50%;
	margin-top: -136px;
	width: 27px;
	height: 272px;
	padding: 0 8px;
	background: url(../img/hover-shadow.png) no-repeat -1px -244px;
}
.subNav {
	width: 27px;
}
.ico {
	position: absolute;
	left: 8px;
	width: 27px;
	height: 25px;
}
.subNav .QQ {
	top: 17px;
	background: url(../img/hover-shadow.png) no-repeat -276px -197px;
}
.subNav .WeChat {
	top: 73px;
	background: url(../img/hover-shadow.png) no-repeat -48px -251px;
}
.subNav .interest {
	top: 123px;
	background: url(../img/hover-shadow.png) no-repeat -80px -247px;
}
.subNav .exchange { 
	top: 178px;
	background: url(../img/hover-shadow.png) no-repeat -112px -248px;
}
.subNav .customer {
	top: 231px;
	background: url(../img/hover-shadow.png) no-repeat -145px -247px;
}
.subNavHover {
	position: absolute;
	width: 159px;
	height: 241px;
	/*height: 0;
	overflow: hidden;*/
	opacity: 0;
	filter: alpha(opacity=0);
	transform: scale(.9) skewY(5deg);
	transform-origin: right center;
	transition: .8s;
	background: url(../img/hover-shadow.png) no-repeat -1px 0 ;
}
.subNav:hover .subNavHover {
	/*height: 241px;*/
	opacity: 1;
	filter: alpha(opacity=100);
	transform: scale(1) skewY(0);
}
.subNavHover_2 {
	position: absolute;
	width: 109px;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: scale(.9) skewY(5deg);
	transition: .3s;
	font: 14px/36px "微软雅黑";
	color: #fff;
	text-align: center;
	background: url(../img/hover-shadow.png) no-repeat -163px -192px;
}
.subNav:hover .subNavHover_2 {
	opacity: 1;
	filter: alpha(opacity=100);
	transform: scale(1) skewY(0);
}
#Hover_1 {
	left: -165px;
	top: -73px;
}
#Hover_2 {
	left: -165px;
	top: -19px;
}
#Hover_3 {
	left: -115px;
	top: 120px;
}
#Hover_4 {
	left: -115px;
	top: 174px;
}
#Hover_5 {
	left: -115px;
	top: 228px;
}
.subNavHover h4 {
	padding-top: 1px;
	height: 38px;
	font: 12px/38px Arial,"微软雅黑";
	text-align: center;
	color: #fff;
}
.subNavHover img {
	display: block;
	padding: 0 9px 6px 10px;
	width: 132px;
	height: 132px;
}
.subNavHover p {
	height: 52px;
	padding-bottom: 13px;
}
.subNavHover span {
	float: left;
	width: 151px;
	font: 16px/26px "微软雅黑";
	color: #fff45c;
	text-align: center;
}
.subNavHover strong {
	font: 20px/24px Arial,"微软雅黑";
	color: #fff;
}
/*end aside.css*/
/*end index.css*/
/*2_Privilege.css*/
#privilege_Head {
	height: 857px;
	background: url(../img/hero.jpg) no-repeat;
}
#growup {
	display: block;
}
#growup .Active {
	padding-bottom: 2px;
	border-bottom: 3px solid #23b45b;
}
/*header.css*/
.activation {
	padding: 0 374px;
	height: 74px;
}
.gain {
	float: left;
	margin-right: 21px;
	width: 271px;
	font: 18px/74px "微软雅黑";
	color: #fff;
}
.button {
	float: left;
	width: 158px;
	height: 41px;
	margin-top: 16px;
	text-align: center;
	font: 18px/40px "微软雅黑";
	border: 1px solid #fff;
	border-radius: 23px;
	color: #fff;
}
.button:hover {
	color: #31c27c;
	background: #fff;
}
.value {
	position: relative;
	padding-top: 35px;
}
.dashed {
	margin: 0 auto;
	width: 1091px;
	height: 328px;
	padding-top: 5px;
	background: url(../img/border.png);
}
.dashed li {
	font: 14px/36px "微软雅黑";
	color: #498a6d;
}
.grow_value {
	position: absolute;
	left: 54px;
	top: 331px;
	z-index: 3;
	font: 12px/32px "微软雅黑";
	color: #fff;
	opacity: .6;
	filter: alpha(opacity=60);
}
.order {
	position: absolute;
	left: 54px;
	top: 369px;
	font: 12px/36px "微软雅黑";
	color: #fff;
	opacity: .6;
	filter: alpha(opacity=60);
}
.column {
	position: absolute;
	z-index: 5;
	left: 134px;
	top: 36px;
	width: 977px;
	height: 327px;
}
.column li {
	position: absolute;
	width: 74px;
}
.column li span {
	display: block;
	font: 24px/40px "微软雅黑";
	color: #fff;
	text-align: center;
	opacity: .9;
	filter: alpha(opacity=90);
}
.column li div {
	background: url(../img/bar_1.png) no-repeat;
}
.column_1 {
	left: 0;
	bottom: 0;
}
.column_2 {
	left: 129px;
	bottom: 0;
}
.column_3 {
	left: 258px;
	bottom: 0;
}
.column_4 {
	left: 387px;
	bottom: 0;
}
.column_5 {
	left: 516px;
	bottom: 0;
}
.column_6 {
	left: 641px;
	bottom: 0;
}
.column_7 {
	left: 774px;
	bottom: 0;
}
.column_8 {
	left: 903px;
	bottom: 0;
}
.column_1 div {
	height: 32px;
}
.column_2 div {
	height: 69px;
}
.column_3 div {
	height: 106px;
}
.column_4 div {
	height: 143px;
}
.column_5 div {
	height: 180px;
}
.column_6 div {
	height: 217px;
}
.column_7 div {
	height: 254px;
}
.column_8 div {
	height: 291px;
}
.sharp {
	position: absolute;
	left: 57px;
	top: 363px;
	width: 1086px;
	height: 6px;
	background: #73d2a3;
}
.grade_LV {
	position: absolute;
	left: 108px;
	top: 369px;
}
.grade_LV span {
	float: left;
	margin: 0 49px; 
	font: 18px/36px "微软雅黑";
	color: #fff;
	opacity: .6;
	filter: alpha(opacity=60);
}
/*end header.css*/
/*main.css*/
.Main {
	width: 100%;
	padding-bottom: 76px;
}
#line {
	padding: 89px 370px 0;
}
#line a {
	color: #000;
}
.Privilege {
	padding-top: 45px;
}
.Privilege li {
	float: left;
	width: 300px;
}
.Privilege .add {
	position: relative;
}
.Privilege div a {
	display: block;
	width: 300px;
	height: 380px;
	overflow: hidden;
}
.Privilege .scale {
	display: block;
	height: 380px;
	transition: 1s;
}
.Privilege .normal {
	position: absolute;
	left: 0;
	top: 0;	
	width: 300px;
	font: 32px/156px "微软雅黑";
	color: #fff;
	text-align: center;
}
.P_music .scale {
	background: url(../img/privilege_1.jpg) no-repeat;
}
.P_pay .scale {
	background: url(../img/privilege_2.jpg) no-repeat;
}
.P_status .scale {
	background: url(../img/privilege_3.jpg) no-repeat;
}
.P_life .scale {
	background: url(../img/privilege_4.jpg) no-repeat;
}
.Privilege a:hover .scale {
	transform: scale(1.1);
}
.delta_w,
.delta_g {
	display: none;
	position: absolute;
	left: 132px;
	top: -1px;
	width: 0;
	height: 0;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-top: 15px solid #fff;
	border-bottom: 15px solid transparent;
}
.delta_g {
	left: 132px;
	top: 383px;
	border-top-color: #15d77a;
}
.beeline {
	display: none;
	position: absolute;
	left: 0;
	top: 380px;
	width: 100%;
	height: 4px;
	background: #15d77a;
}
.hidden {
	display: none;
	position: relative;
	height: 468px;
}
.add:active .delta_w,
.add:active .beeline,
.add:active .delta_g,
.P_music .add .delta_w,
.P_music .add .beeline,
.P_music .add .delta_g {
	display: block;
}
.Privilege li:active .hidden,
.P_music .hidden {
	display: block;
}
.P_pay .beeline {
	background: #fbcd0c;
}
.P_pay .delta_g {
	border-top-color: #fbcd0c;
}
.P_status .beeline {
	background: #ff5d4c;
}
.P_status .delta_g {
	border-top-color: #ff5d4c;
}
.P_life .beeline {
	background: #7f378e;
}
.P_life .delta_g {
	border-top-color: #7f378e;
}
.P_icon {
	position: absolute;
	left: 0;
	top: 34px;
	padding-left: 24px;
	width: 1176px;	
}
.P_icon a {
	float: left;
	width: 184px;
	border: 1px solid transparent;
	margin: 0 -1px;
	padding: 30px 0 23px; 	
}
.P_icon a span {
	display: block;
	margin-left: 33px;
	height: 118px;
	background: url(../img/sprite_p.png) no-repeat;
}
.P_icon a strong {
	display: block;
	height: 44px;
	font: 18px/44px "微软雅黑";
	color: #62628c;
	text-align: center;
}
.P_icon .icon_1 span {
	background-position: 0 0;
}
.P_icon .icon_2 span {
	background-position: 0 -118px;
}
.P_icon .icon_3 span {
	background-position: 0 -236px;
}
.P_icon .icon_4 span {
	background-position: 0 -354px;
}
.P_icon .icon_5 span {
	background-position: 0 -472px;
}
.P_icon .icon_6 span {
	background-position: 0 -590px;
}
.P_icon .icon_7 span {
	background-position: 0 -708px;
}
.P_icon .icon_8 span {
	background-position: 0 -826px;
}
.P_icon .icon_9 span {
	background-position: 0 -944px;
}
.P_icon .icon_10 span {
	background-position: 0 -1062px;
}
.P_icon .icon_11 span {
	background-position: 0 -1180px;
}
.P_icon .icon_12 span {
	background-position: 0 -1298px;
}
.P_icon a:hover {
	border: 1px solid #dbdbdb;
}
.open {
	margin: 41px auto 0;
	width: 272px;
	font: 22px/50px "微软雅黑";
	text-align: center;
	border: 2px solid #31c27c;
	border-radius: 27px;
	transition: .3s;
}
.open a {
	color: #31c27c;
	transition: .3s;
}
.open:hover {
	background: #31c27c;
}
.open:hover a {
	color: #fff;
}
/*end main.css*/
/*end 2_Privilege.css*/
/*3_nobel.css*/
#nobel {
	height: 340px;
	background: #102425;
}
.screen {
	position: relative;
	overflow: hidden;
}
#silder a {
	display: block;
	width: 100%;
	height: 340px;
	background: url(../img/nobel.jpg) no-repeat;
	background-size: cover;
}
.page {
	position: absolute;
	margin-top: -54px;
	transition: .5s;
}
.p_left {
	left: -72px;
	top: 50%;
}
.p_right {
	right: -72px;
	top: 50%;
}
.page span {
	display: block;
	width: 72px;
	height: 108px;
	background: #fff;
	opacity: .5;
	filter: alpha(opacity=50);
}
.page img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -9px 0 0 -6px;
	width: 12px;
	height: 18px;
}
.screen:hover .p_left {
	left: 0;
}
.screen:hover .p_right {
	right: 0;
}
.page:hover span {
	background: #31c27c;
	opacity: 1;
	filter: alpha(opacity=100);
}
/*main.css*/
.wrap_nav {
	position: relative;
	height: 1084px;
	border-bottom: 1px solid #e1e1e1;
}
.race {
	float: left;
}
.race_title {
	display: block;
	width: 155px;
	height: 54px;
	padding: 27px 0 5px;
	font: 18px/54px "微软雅黑";
	color: #000;
	text-align: center;
}
.race_title:hover {
	color: #31c27d;
} 
.race:active .race_title,
#race_active .race_title {
	padding: 27px 0 0;
	color: #31c27d;
	border-bottom: 5px solid #31c27d;
}
.vocalConcert {
	display: none;
	position: absolute;
	left: 0;
	top: 86px;
	height: 890px;
	margin: 5px -18px 0 0;
}
.race:active .vocalConcert,
 #race_active .vocalConcert {
	display: block;
}
.vocalList {
	position: relative;
	float: left;
	overflow: hidden;
	width: 373px;
	height: 268px;
	margin: 25px 31px 0 0;
	border: 1px solid #e1e1e1;
}
.view img {
	position: absolute;
	left: -1px;
	top: -1px;
	width: 375px;
	height: 210px;
}
.view span {
	position: absolute;
	left: 0;
	bottom: 1px;
	font: 16px/58px "微软雅黑";
	color: #9e9e9e;
	text-indent: 20px;
}
.vocal_hide {
	position: absolute;
	top: 270px;
	left: -1px;
	/*overflow: hidden;*/
	width: 375px;
	/*height: 0;*/
	height: 270px;
	transition: 1s ;
}
.vocalList:hover .vocal_hide {
	/*height: 270px;*/
	top: -1px;
	/*margin: -271px 0 0 -1px;*/
}
.vocal_hide a {
	display: block;
	color: #fff;
	width: 100%;
	height: 100%;
	transition: .5s;
}
.vocalMask {
	position: absolute;
	left: 0;
	top: 0;
	width: 375px;
	height: 270px;
	background: #45c889;
	opacity: .95;
	filter: alpha(opacity=95);
}
.vocal_hide .text {
	position: absolute;
	top: 32px;
	left: 0;
	padding: 0 20px;
	font: 16px/24px "Aparajita Regular","微软雅黑";
}
.vocal_hide .text strong {
	display: block;
	font: 16px/30px "微软雅黑";
}
.vocal_hide em {
	position: absolute;
	left: 0;
	top: 220px;
	width: 100%;
	font: 18px/50px "微软雅黑";
	text-align: center;
}
.moreActive {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 30px 0; 
	width: 100%;
	height: 48px;
}
.moreActive span {
	display: block;
	font: 14px/34px "微软雅黑";
	color: #31c27c;
	text-align: center;
}
.moreActive img {
	position: absolute;
	left: 50%;
	top: 64px;
	margin-left: -11px;
	width: 22px;
	height: 14px;
}
#about {
	margin-top: 60px;
}
/*end 3_nobel.css*/
/*4_fee.css*/
#fee_Head {
	height: 340px;
	background: url(../img/winner.jpg) no-repeat;
}
/*header.css*/
.winner {
	position: relative;
}
.power {
	height: 60px;
	font: 18px/56px "微软雅黑";
	text-align: center;
	color: #fff;
}
.open_btn {
	position: absolute;
	left: 50%;
	top: 197px;
	margin-left: -88px;
	padding: 0 24px;
	height: 41px;
	font: 18px/40px "微软雅黑";
	color: #fff;
	border: 1px solid #fff;
	border-radius: 21px;
	transition: .3s;
}
.open_btn:hover {
	color: #31c27c;
	background: #fff;
}
#detail .line {
	padding: 119px 298px 0;
}
#detail .line strong {
	color: #000;
}
.sale {
	padding: 44px 0 50px;
}
.sale li {
	float: left;
	position: relative;
	margin-top: 50px;
	width: 400px;
}
.sale li:hover {
	background: #eee;
}
.sale span {
	position: absolute;
	left: 119px;
	top: 16px;
	width: 162px;
	height: 148px;
	background: url(../img/sale.png) no-repeat;
}
.sale p {
	height: 74px;
	margin-top: 165px;
	font: 16px/74px "微软雅黑";
	text-align: center;
	color: #9e9e9e;
}
.sale .sale_s1 {
	background-position: -374px -16px;
}
.sale .sale_s2 {
	background-position: -191px -198px;
}
.sale .sale_s3 {
	background-position: -9px -198px;
}
.sale .sale_s4 {
	background-position: -10px -16px;
}
.sale .sale_s5 {
	background-position: -191px -16px;
}
.sale .sale_s6 {
	background-position: -371px -198px;
}
.manner {
	padding: 65px 0 142px;
	height: 168px;
	background: #f4f4f4;
}
.mannerList {
	margin-right: -50px;
}
.way {
	position: relative;
	float: left;
	width: 200px;
	margin-right: 50px;
}
.way_ico {
	display: block;
	width: 80px;
	height: 80px;
	background: url(../img/sale.png) no-repeat;
}
.way_ico1 {
	background-position: -246px -364px;
}
.way_ico2 {
	background-position: -82px -364px;
}
.way_ico3 {
	background-position: -164px -364px;
}
.way_ico4 {
	background-position: 0 -364px;
}
.way_ico5 {
	background-position: -328px -364px;
}
.way_hide {
	/*display: none;*/
	position: absolute;
	left: -111px;
	bottom: 196px;
	z-index: 1;
	padding: 24px 35px 17px 25px;
	font: 14px/21px Arial,"微软雅黑";
	border: 1px solid #c6c6c8;
	border-bottom: none;
	border-radius: 6px 6px 0 0;
	background: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: skewY(5deg) scale(.8)  /*rotate(10deg)*/;
	transform-origin: center bottom;
	/*transform: scale(0);*/
	transition: 1s;
}
.way:hover .way_hide { 
	/*display: block;*/
	opacity: 1;
	filter: alpha(opacity=100);
	transform: skewY(0) scale(1) rotate(0);
	/*transform: scale(1);*/
}
.way_hide a {
	display: inline-block;
	position: relative;
	z-index: 2;
	color: #9e9e9e;
	background: #fff;
	width: 241px;
}
.way_hide span {
	position: absolute;
	left: -1px;
	top: 100%;
	right: -1px;
	z-index: 3;
	width: 303px;
	height: 23px;
	overflow: hidden;
	background: url(../img/way.png) no-repeat;
	background-size: 100% 100%;
}
.way h4 {
	font: 18px/1 "微软雅黑";
	padding-top: 20px; 
	color: #000;
}
.way p {
	font: 12px/50px "微软雅黑";
	color: #9ea9be;
}
/*end 4_fee.css*/
/*5_pay.css*/
#pay_Head {
	padding-top: 80px;
	height: 458px;
	background: none;
}
.pay_open {
	height: 458px;
	background: url(../img/paybag.jpg) no-repeat;
	background-size: 100% 458px;
}
/*main.css*/
.main {
	color: #000;
}
.audition {
	font: 18px/84px "微软雅黑";
	text-align: center;
}
.monthly {
	padding: 51px 193px 80px;
}
.monthly li {
	float: left;
	display: inline;
	margin: 0 67px;
	width: 273px;
	text-align: center;
}
.monthly_ico {
	display: block;
	margin: 0 40px;
	width: 192px;
	height: 157px;
	background: url(../img/index5.png) no-repeat -197px 0;
}
.m_ico2 {
	background-position: 0 0;
}
.monthly h4 {
	margin-top: 43px;
	font: 28px/1 "微软雅黑";
}
.monthly em {
	color: #ff8213;
}
.monthly p {
	font: 20px/68px "微软雅黑";
	color: #777777;
}
.monthly a {
	display: block;
	font: 24px/62px "微软雅黑";
	color: #fff;
	border-radius: 5px;
	background: #31c27c;
	transition: .5s;
}
.monthly a:hover {
	background: #4ac98b;
}
.onlyHave {
	padding-top: 58px;
}
.onlyList {
	float: left;
	width: 240px;
	transition: 1s;
}
.onlyList:hover {
	background: #fff;
	opacity: .7;
	filter: alpha(opacity=70);
}
.onlyList a {
	position: relative;
	z-index: 3;
	display: block;
	padding-top: 68px;
	height: 172px;
}
.only_a1 {
	background: url(../img/pbg_1.jpg) no-repeat;
}
.only_a2 {
	background: url(../img/pbg_2.jpg) no-repeat;
}
.only_a3 {
	background: url(../img/pbg_3.jpg) no-repeat;
}
.only_a4 {
	background: url(../img/pbg_4.jpg) no-repeat;
}
.only_a5 {
	background: url(../img/pbg_5.jpg) no-repeat;
}
.onlyList span {
	display: block;
	margin: 0 auto;
	height: 80px;
	background: url(../img/index5.png) no-repeat;
}
.only_a1 span {
	width: 89px;
	background-position: -132px -291px;
}
.only_a2 span {
	width: 82px;
	background-position: 0 -423px;
}
.only_a3 span {
	width: 83px;
	background-position: -310px -291px;
}
.only_a4 span {
	width: 85px;
	background-position: -223px -291px;
}
.only_a5 span {
	width: 102px;
	height: 70px;
	margin: 0 auto 10px;
	background-position: -264px -159px;
}
.onlyList strong {
	display: block;
	font: 18px/78px Arial,"微软雅黑";
	text-align: center;
	color: #fff;
}
.special {
	padding: 80px 0;
}
.special .pay_line {
	padding: 82px 347px 0;
}
.look {
	font: 18px/85px "微软雅黑";
	text-align: right;
}
.look a {
	color: #515151;
}
.look a:hover {
	color: #31c59c;
}
.example li {
	float: left;
	width: 300px;
}
.example_img img {
	width: 300px;
	height: 300px;
}
.exampleList div {
	padding-top: 67px;
	height: 118px;
	background: #333333;
}
.exampleList div a {
	display: block;
	color: #fff;
	text-align: center;
}
.song {
	font: 18px/1 "微软雅黑";
}
.singer {
	font: 14px/32px "微软雅黑";
}
.exampleList .ex_bj {
	background: #7f7f7f;
}
/*end 5_pay.css*/
/*6_pay_page.css*/
.wrap_small {
	padding: 0 100px;
	width: 1000px;
	margin: 0 auto;
}
.Null {
	height: 80px;
}
.pageList {
	padding-top: 58px;
	border-bottom: 1px solid #bdbdbd;
}
.pageList li {
	position: relative;
	float: left;
	width: 200px;
}
.pageList span {
	display: block;
	margin: 0 35px;
	width: 130px;
	height: 130px;
	background: url(../img/index5.png) no-repeat;
}
.pageList_1 span {
	background-position: 0 -159px;
}
.pageList_2 span {
	background-position: -132px -159px;
}
.pageList_3 span {
	background-position: -391px 0;
}
.pageList_4 span {
	background-position: -391px -132px;
}
.pageList_5 span {
	background-position: 0 -291px;
}
.pageList strong {
	display: block;
	height: 106px;
	font: 20px/100px "微软雅黑";
	color: #777;
	text-align: center;
}
.pageList p {
	display: none;
	position: absolute;
	left: 89px;
	bottom: -11px;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background: #31c27c;
}
.pageList li:active p,
.pageList_1 p {
	display: block;
}
.paybagContent {
	padding-top: 90px;
}
.payText {
	float: left;
	width: 481px;
}
.payText h3 {
	font: 48px/74px "微软雅黑";
	text-align: center;
}
.payText p {
	padding: 28px 0 16px;
	font: 18px/27px Arial,"微软雅黑";
	color: #777;
}
.payTable {
	float: right;
	width: 449px;
	height: 199px;
	background: url(../img/table.png) no-repeat;
	background-size: 449px 199px;
}
.openBtn {
	padding: 117px 0 80px;
	text-align: center;
}
.openBtn a {
	display: inline-block;
	padding: 0 72px;
	font: 30px/81px "微软雅黑";
	color: #fff;
	background: #31c27c;
	border-radius: 7px;
	transition: .3s;
}
.openBtn a:hover {
	background: #4ac98b;
}
/*end 6_pay_page.css*/
/*7_growth.css*/
.formula {
	font: 18px/86px "微软雅黑";
	text-align: center;
}
.growth {
	position: relative;
	margin-top: 49px;
	width: 100%;
	height: 516px;
	/*background: url(../img/growth.png) no-repeat;
	background-size: 100% 516px;*/
}
.system_back img {
	position: absolute;
	left: 0;
	top: 0;
	width: 1000px;
	height: 516px;
}
.growth_ico {
	padding: 0 68px 0 58px;
}
.growth_ico li {
	position: absolute;
	width: 100px;
	height: 44px;
}
.growth_ico strong {
	position: absolute;
	right: 30px;
	top: 0;
	font: 20px/1 "微软雅黑";
	color: #777;
}
.growth_ico span {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 24px;
	height: 24px;
	background: url(../img/index5.png) no-repeat -391px -264px;
}
.growth_ico1 {
	left: 50px;
	bottom: 18px;
}
.growth_ico2 {
	left: 170px;
	bottom: 78px;
}
.growth_ico3 {
	left: 282px;
	bottom: 126px;
}
.growth_ico4 {
	left: 392px;
	bottom: 166px;
}
.growth_ico5 {
	left: 502px;
	bottom: 202px;
}
.growth_ico6 {
	right: 288px;
	bottom: 289px;
}
.growth_ico7 {
	right: 178px;
	bottom: 344px;
}
.growth_ico8 {
	right: 68px;
	bottom: 457px;
}
.system_table {
	margin-top: 84px;
	background: #f8f8f8;
	height: 945px;
}
.wrap_small .system {
	padding: 62px 127px 0;
}
.s_table_content {
	margin-top: 58px;
	width: 1000px;
	text-align: center;
	color: #8b8b8b;
}
.s_table_content td {
	width: 198px;
	height: 100px;
	border: 1px solid #dadada;
}
.t_head td {
	font: 24px/36px Arial,"微软雅黑";
	background: #f0f0f0;
}
.t_body td {
	font: 18px/26px Arial,"微软雅黑";
	background: #f8f8f8;
}
.double span {
	display: block;
	text-align: center;
}
.gray {
	margin: 32px auto 0;
	width: 130px;
	height: 10px;
	background: #e5e5e5;
	border-radius: 5px;
}
.orange {
	position: relative;
	width: 18px;
	height: 10px;
	background: #f19818;
	border-radius: 5px;
}
.orange span {
	position: absolute;
	left: 100%;
	top: -50px;
	margin-left: -52px;
	width: 85px;
	height: 45px;
	font: 16px/40px Arial,"微软雅黑";
	background: url(../img/index5.png) no-repeat -265px -231px;
}
.eleven {
	width: 40px;
}
.twelve {
	width: 43px;
}
.fourteen{
	width: 50px;
}
.twenty {
	width: 72px;
}
.twenty-four {
	width: 86px;
}
.thirteen {
	width: 47px;
}
.sixteen {
	width: 58px;
}
.twenty-two {
	width: 79px;
}
.thirty {
	width: 108px;
}
.eighteen {
	width: 65px;
}
.twenty-eight {
	width: 101px;
}
.thirty-six {
	width: 130px;
}
/*end main.css*/
/*end 7_growth.css*/